@media (max-width: 767.98px) {
  .offcanvas {
    position: fixed;
    top: 52px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .offcanvas.open {
    transform: translateX(0);
  }
}

.home {
  height: calc(100vh - 76px);
}

.login,
.signup {
  height: calc(100vh - 52px - 56px);
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../img/login_signup.jpg');
  background-size: cover;
}
