@media (max-width: 767.98px) {
  .offcanvas {
    position: fixed;
    top: 40px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .offcanvas.open {
    transform: translateX(0);
  }
}

.home {
  height: calc(100vh - 76px);
}
